html, 
body, 
div, 
span{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html{
	display: block;	
}
head {
    display: none;
}
body{
	min-width: 1030px;	
}
.bheader-wrap{
	height: 43px;
}
.bheader-new{
	width: 100%;
	min-width: 1030px;
	height: 42px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 990;
	background: #4C4C4C;
	border-bottom: 1px solid #E5E5E5;
	font-family: Arial,Helvetica,sans-serif;
}
.bheader-new .bh-wrap{
	position: relative;
	height: 38px;
	font-size: 12px;
	border-top: 1px solid #555;
	border-bottom: 3px solid #85c155;
	line-height: 1.5;
	padding:0 15px;
}
.bwrap{
	display: block;
	min-width: 1%;
	padding:0 15px;
	width:990px;
	margin:0 auto;
	font-size: 12px;
}
.bmain{
	position: relative;
	float: left;
	width: 650px;
	padding-top: 10px;
}
.bside{
	float: right;
	width:290px;
}
